[Unit]
Description=Linux System Status Pinger

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 %h/bots/System-status-pinger/pinger.py
EnvironmentFile=%h/bots/System-status-pinger/.env
StandardOutput=append:/var/log/pinger.log
StandardError=append:/var/log/pinger.log
